body {
  font-family: Arial;
  background: #f4fff4;
  text-align: center;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}
